/* RESET GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* BODY */
body {
  background-color: #f4f6f9;
  color: #333;
}

/* CENTRAGE GLOBAL (login/register) */
.center-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TITRES */
h1, h2, h3 {
  color: #1976d2;
  margin-bottom: 15px;
}

/* INPUTS */
input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

input:focus {
  border-color: #1976d2;
}

/* BUTTONS */
button {
  width: 100%;
  padding: 10px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #125aa0;
}

/* LINKS */
a {
  color: #1976d2;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* CARD STYLE (dashboard) */
.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* DASHBOARD GRID */
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 20px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}